.headercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px;
}

.userid {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color:#B4B4C6;
}
    .userid:hover {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 25px;
        color:#9494a2;
}
    
.dropdown {
        position: relative;
        display: inline-block;
        /* font-size: 20px; */
        color:#B4B4C6;    
} 
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color:   #F5F5F5;
        /* min-width: 100px; */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        /* padding: 12px 16px; */
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
    .username{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    /* font-size: 22px; */
    line-height: 25px;
    /* color: #A6A6A6; */
    }
    
    .headerbtmline{
        background: #E1F9F4;
        margin-top: 30px;
        Height:3px;
    }    
    
    
  